/* {
    outline: 1px solid tomato;
}*/

.header {
    background: #111;
}

.header .inner {
    position: relative;

    display: flex;
    align-items: center;

    max-width: 1556px;
    height: 120px;
    margin: 0 auto;
}

.header .inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .inner .utils {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.main_visual {
    position: relative;
    color: #333;
}

.main_visual .itm {
    position: relative;
    height: calc(100vh - 120px);
}

.main_visual .itm01 {
    background: url(../image/main_visual.jpg) no-repeat center center/cover;
}

.main_visual .itm01::after {
    content: "";

    z-index: -2;

    position: absolute;
    width: 50%;
    height: 100%;
    background: #fff;
    opacity: 0.2;

    top: 0;
    right: 0;
}

.main_visual .itm02 {
    background: url(../image/main_visual_02.jpg) no-repeat center center/cover;
}

.main_visual .itm02 .txt {
    color: #fff;
    text-align: left;
}

.main_visual .itm03 {
    background: url(../image/main_visual_03.jpg) no-repeat center center/cover;
}

.main_visual .itm03 .txt {
    color: #fff;
    text-align: center;
}


.main_visual .txt {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    max-width: 1170px;
    width: 100%;

    text-align: right;
}

.main_visual .itm strong {
    display: inline-block;
    font-size: 40px;
    font-weight: 800;

    line-height: 40px;

    margin-bottom: 20px;
}

.main_visual .itm p {
    font-size: 16px;
    font-weight: 500;

    line-height: 24px;

    letter-spacing: -0.4px;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    display: flex;
    justify-content: space-between;

    max-width: 1370px;
    width: 100%;
}



.main_visual .arrows svg {
    stroke: #fff;
    background: rgba(51, 51, 51, 0.3);
    padding: 8px;
    box-sizing: content-box;
    border-radius: 50%;
}

.main_visual .scroll {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, 0);

    z-index: 888;
    height: 48px;
}

.main_visual .scroll span {
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    color: #fff;

    text-align: center;

    letter-spacing: 6.4px;
}

.main_visual .scroll::after {
    content: "";
    position: absolute;
    top: -58px;
    left: 50%;
    transform: translate(-50%, 0);

    z-index: 999;

    width: 2px;
    height: 48px;
    background: #fff;
}

.main_product .slide_wrap {
    position: relative;
}

.main_product .inner {
    max-width: 1560px;
    margin: 0 auto;
}

.main_product .main_product_slide img {
    width: 100%;
}

.main_product .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    max-width: 1640px;
    width: 100%;
}

.main_product .arrows button {
    position: absolute;
    transform: translate(0, -50%);
}

.main_product .arrows .prev {
    left: 0;
}

.main_product .arrows .next {
    right: 0;
}

.main_product_slide .swiper-slide .figure {
    position: relative;
}

.main_product_slide p {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 24px;
    font-weight: 300;
    color: #fff;

    width: 100%;

    text-align: center;
}

.main_banner {
    position: relative;
    height: 370px;
    background: url(../image/se2.JPG) no-repeat fixed center center/cover;
}

.main_banner .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100;
}

.main_content .title h2 {
    text-align: left;
}

.main_content .title p {
    text-align: left;
}

.main_content .inner {
    display: flex;
    gap: 30px;
}

.main_content .inner .itm {
    flex: 1;
}

.main_content .inner .itm figure {
    margin-bottom: 26px;
}

.main_content .inner .itm strong {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-align: left;
}

.main_content .inner .itm p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    letter-spacing: -0.4px;
}

.footer {
    position: relative;
    background: #111;
}

.footer .ft .customer {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    font-size: 14px;
    height: 80px;

    border-bottom: 1px solid #555;
}

.footer .fb .inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .inner .copy address {
    font-style: normal;
    font-size: 12px;
    color: #fff;
    
    letter-spacing: -0.4px;
}

.footer .inner .sns {
    display: flex;
    gap: 16px;
}